<section id="carousel">
	<div id="carousel-content" class="container">
		<h1>Data-driven Decision Making</h1>
		<p>Colleges and universities are under increasing pressure to achieve their institutional goals in the face of higher expectations and limited resources. The  higher education decision-making environment is highly complex, and the decisions you make affect the lives of students, faculty and staff. To learn how Academic Dashboards can assist you in making data-driven decisions, click the Get Started link below.</p>
		<div id='get-started-link'>Get Started</div>
		<div id="home-quote">
			<i>"We are drowning in information and starving for knowledge."</i><br />&mdash; Rutherford D. Roger
		</div>
		<!--<%= link_to 'Get Started' %>-->
	</div>
</section>


<section id="some-info" class="container section">			
	<h1>The three components of academic dashboards.</h1>

	<div class="column-4 info">
		<div class="circle"><%= image_tag 'database.png', width: '170px' %></div>
		<h2>Data</h2>
		<p>Your data is the basic building block for analytics, and analytics serves as the foundation for sound decision making. Academic Dashboards provides a highly flexible suite of tools supporting data ingestion.</p>
	</div>

	<div class="column-4 info">
		<div class="circle"><%= image_tag 'analytics.png', width: '170px' %></div>
		<h2>Analytics</h2>
		<p>Transform data into useful insights using analytics. Academic Dashboards uses statistical models, machine learning, and data mining techniques to present historical information and make predictions that can guide decison making.</p>
	</div>

	<div class="column-4 info">
		<div class="circle"><%= image_tag 'visualization.png', width: '170px' %></div>
		<h2>Visualization</h2>
		<p>The human brain is better able to process information when it is in the form of a picture rather than words and numbers. With Academic Dashboards you can create stunning dashboards that provide relavent insights. </p>
	</div>
</section>


<section id="sample-graph" class="section">
	<div class="container">
		<div class="column-7" id="sample">
			<!--<iframe height = '250px' width = '300px' src='http://oias1.unm.edu:4567/charts/grad'></iframe>					
			<%= image_tag "graph1.png", width: '90%' %> -->
			<iframe height='350px' width='100%' src='https://agile-hamlet-2913.herokuapp.com/dashboards/1/multi_bar_charts/1'></iframe>
		</div>
		<div class="column-5" id="sample-text">
			<h2><u>Dashboards without Headaches</u></h2>
			<h4>Secure cloud deployment, no IT infrastructure required.</h4>
			<!--
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec purus velit. Vivamus blandit libero at nibh consequat commodo.</p>
			<%=link_to 'Dashboard Gallery (coming soon)'%>
			-->
		</div>							
	</div>
</section>
			
							
<section id="sign-up">
	<div id="sign-up-close"><i class="fa fa-times"></i></div>					
	
	<div id='get-started-info'>
		<h1>Sign Up</h1>
		<p>To get started	please create an account and submit information regarding the institution. This will allow you to view more information about the services that Academic Dashboards has to offer.</p>						
	</div>										
	<%= render 'layouts/sign_up' %>					
</section>

<section id="sign-in">
	<div id="sign-in-close"><i class="fa fa-times"></i></div>					

	<div id='get-started-info'>
		<h1>Sign In</h1>
	</div>										
	<%= render 'layouts/sign_in' %>					
</section>

<div id="screen"></div>
