<section id="carousel">
	<div id="carousel-content" class="container">
		<h1>Data-driven Decision Making</h1>
		<p>Colleges and universities are under increasing pressure to achieve their institutional goals in the face of higher expectations and limited resources. The  higher education decision-making environment is highly complex, and the decisions you make affect the lives of students, faculty and staff. To learn how Academic Dashboards can assist you in making data-driven decisions, click the Get Started link below.</p>
		<!--<div id='get-started-link' class="get-started">Get Started</div>-->
		<%= link_to "Get Started", "/info_requests/new", id: 'get-started-link', remote: true %>
		<div id="home-quote">
			<i>"We are drowning in information but starved for knowledge."</i><br />&mdash; John Naisbitt
		</div>
		<!--<%= link_to 'Get Started' %>-->
	</div>
</section>


<section id="some-info" class="container section">
	<h1>The three components of academic dashboards.</h1>

	<div class="column-4 info">
		<div class="circle"><%= image_tag 'database.png', width: '170px' %></div>
		<h2>Data</h2>
		<p>Your data is, of course, the basic building block for data-informed decision making. Thus, the first step is to prepare it for the analytics process. Academic Dashboards provides a highly flexible suite of tools supporting data ingestion.</p>
	</div>

	<div class="column-4 info">
		<div class="circle"><%= image_tag 'analytics.png', width: '170px' %></div>
		<h2>Analytics</h2>
		<p>Transform data into useful insights using analytics. Academic Dashboards uses statistical models, machine learning, and data mining techniques to present historical information and make predictions that can guide decison making.</p>
	</div>

	<div class="column-4 info">
		<div class="circle"><%= image_tag 'visualization.png', width: '170px' %></div>
		<h2>Visualization</h2>
		<p>The human brain is better able to process information when it is in the form of a picture rather than words and numbers. With Academic Dashboards you can create stunning dashboards that provide relavent insights. </p>
	</div>
</section>


<!--
<section id="sample-graph" class="section">
	<div class="container">
		<div class="column-7" id="sample">
			<iframe height='350px' width='100%' src='https://agile-hamlet-2913.herokuapp.com/dashboards/1/multi_bar_charts/1'></iframe>
		</div>
		<div class="column-5" id="sample-text">
			<h2><u>Dashboards without Headaches</u></h2>
			<h4>Secure cloud deployment, no IT infrastructure required.</h4>
			<p>Clear and concise dashboards are the key to data-driven decision making. Academic Dashboards has created a set of dashboards tuned to the needs higher education.  These can be used to investigate and better understand the underlying factors behind various performance metrics.  These dashboards can also be used to satisfy various higher education reporting needs, and may be adapted to for your own purposes. </p>
		</div>
	</div>
</section>
-->


<section id="product-carousel">
	<div class="slider">
		<ul class="slider__wrapper">
			<li id="slide" class="slider__item">
				<div class="column-7">
					<%= image_tag "sankeys/sankey3.png", width: '100%' %>
				</div>
				<div class="column-5">
					<h1>Student Flow Sankeys</h1><br>
					Rather than studying the individual path a particular student takes towards graduation, which may not reveal larger structural impediments, Sankey flow diagrams allow you to visualize how particular populations of students move through your university. This allows you to easily discover institutional bottlenecks and barriers to student progress. At many universities, this represents a big data challenge, as these flows require semester-by-semester data from thousands of students over many cohort years. Academic Dashboards supports you by providing cloud-computing services for ingesting and anonymizing your institutional data, for computing composite flows, and for deploying the resulting Sankey dashboard so that anyone at your institution can investigate and analyze student progress.
				</div>
			</li>

			<li class="slider__item">
				<div class="column-7">
					<%= image_tag "degree_plans.jpg", width: '100%' %>
				</div>
				<div class="column-5">
					<h1>Degree Plans</h1><br>

				</div>
			</li>

			<li class="slider__item">
				<div class="column-7">
					<%= image_tag "bubble.jpg", width: '100%' %>
				</div>
				<div class="column-5">
					<h1>Dashboards without Headaches</h1><br>
					Clear and concise dashboards are the key to data-driven decision making. Academic Dashboards has created a set of dashboards tuned to the needs of higher education.  These can be used to investigate and better understand the underlying factors behind various performance metrics.  These dashboards can also be used to satisfy various higher education reporting needs, and may be adapted for your own purposes.
				</div>
			</li>
		</ul>
	</div>

	<div id="slide-nav"></div>
</section>
