<section id="products">
	<h1>Our Products</h1>
	<div id="products-nav">
		<%= link_to "Sankyes", "#", sec: "sankey", class: "active-product-link" %>
		<%= link_to "Degree Mapping", "#", sec: "degree-plans" %>
		<%= link_to "Analytic Dashboards", "#", sec: "dashboards" %>
	</div>
</section>


<section id="sankey" class="active-product">
	<div class="product-blurb">
		<h2>Sankey Diagrams</h2>
		<p>A Blurb about sankeys</p>
	</div>

	<section class="product-row">
		<div class="container">
			<div class="column-8"><%= image_tag "sankeys/sankey1.png" %></div>
			<div class="column-4">An area plot provides quick overview of success rates at your university.</div>
		</div>
	</section>

	<section class="product-row alt">
		<div class="container">
			<div class="column-8"><%= image_tag "sankeys/sankey2.png" %></div>
			<div class="column-4">Enrollment in colleges across the entire university can also be shown using an area plot.</div>
		</div>
	</section>

	<section class="product-row">
		<div class="container">
			<div class="column-8"><%= image_tag "sankeys/sankey3.png" %></div>
			<div class="column-4">Use Sankey diagrams to analyze student flows and identify bottlenecks at any level of the organization. Dig deeper into the data, placing constraints on gender, ethnicity, and other factors shows how specific groups of students flowed through the university.</div>
		</div>
	</section>

	<section class="product-row alt">
		<div class="container">
			<div class="column-8"><%= image_tag "sankeys/sankey4.png" %></div>
			<div class="column-4">Track students based on the college they are enrolled in during a specific term. This diagram tracks students who are admitted to the biology department in the sixth term, and shows where they’ve been and where they are going.</div>
		</div>
	</section>

	<section class="try-it">
		<h2>Try It Below:</h2>
		<div class="container">
			<iframe src="http://studentflows.unm.edu" width="100%" height="600px"></iframe>
		</div>
	</section>

</section>


<section id="degree-plans">
	<div class="product-blurb">
		<h2>Degree Mapping</h2>
		<p>A blurb about degree mapping.</p>
	</div>

	<section class="product-row">
		<div class="container">
			<div class="column-8">
				<%= image_tag "degree_mapping/1.png" %>
			</div>
			<div class="column-4">
				Give students access to your degree plans in a variety of ways. Give students who know what they want quick access to their degree plans. For undecided students, give them a variety of tools to find programs that match their interests.
			</div>
		</div>
	</section>

	<section class="product-row alt">
		<div class="container">
			<div class="column-8">
				<%= image_tag "degree_mapping/2.png" %>
			</div>
			<div class="column-4">
				Give students a list of programs by college, interest area, and alphabetically. Allow students to compare up to three different degree plans.
			</div>
		</div>
	</section>

	<section class="product-row">
		<div class="container">
			<div class="column-8">
				<%= image_tag "degree_mapping/3.png" %>
			</div>
			<div class="column-4">
				Provide one convenient location for information on each of your programs. Give students an overview of each program, including admission requirements, and career opportunities. 
			</div>
		</div>
	</section>

	<section class="product-row alt">
		<div class="container">
			<div class="column-8">
				<%= image_tag "degree_mapping/4.png" %>
			</div>
			<div class="column-4">
				Give students a term-by-term view of the courses that they need to take in order to complete to obtain a degree.
			</div>
		</div>
	</section>

	<section class="try-it">
		<%= link_to 'Live Preview', 'http://degrees.unm.edu/undergrad_programs/explore', target: '_blank' %>
	</section>

</section>


<section id="dashboards">
	<div class="product-blurb">
		<h2>Analytic Dashboards</h2>
		<p>A blurb about dashboards.</p>
	</div>

	<section class="product-row">
		<div class="container">
			<div class="column-9 chart" id="bar-chart">

			</div>
			<div class="column-3">
				Some Caption Goes Here
			</div>
		</div>
	</section>

	<section class="product-row alt">
		<div class="container">
			<div class="column-9 chart" id="sunburst-chart">

			</div>
			<div class="column-3">
				Some Caption Goes Here
			</div>
		</div>
	</section>

	<section class="product-row">
		<div class="container">
			<div class="column-9 chart" id="bubble-chart">
			</div>
			<div class="column-3">
				Some Caption Goes Here
			</div>
		</div>
	</section>

	<section class="try-it">
		<%= link_to 'Live Preview', 'http://unm-dashboard.herokuapp.com/dashboards/1/sections/1', target: '_blank' %>
	</section>
</section>