<ul>
	<li><%= link_to 'About Us', '/about' %></li>
	<li><%= link_to 'Products', '/products' %></li>
	<li><%= link_to 'Services', '/services' %></li>
	<li><%= link_to 'Get Started', '/info_requests/new', class: 'get-started', remote: true %></li>
	<!--
	<li>
		<% if user_signed_in? %>
			<%= link_to 'Sign Out', 'users/sign_out', method: :delete %>
		<% else %>
			<span class='sign-in-link'>Sign In</span>				
		<% end %>
	</li>
	-->

</ul>