<ul>
<!--
	<li><%= link_to 'About' %></li>
	<li><%= link_to 'News' %></li>
	<li><%= link_to 'Contact us' %></li>
	<li><%= link_to 'Success Stories' %></li>
-->
	<li><%= link_to 'Services', '/services' %></li>
	<li>
		<% if user_signed_in? %>
			<%= link_to 'Sign Out', 'users/sign_out', method: :delete %>
		<% else %>
			<span class='sign-in-link'>Sign In</span>				
		<% end %>
	</li>

</ul>
				
<!-- <%= render 'layouts/sign_in' %>	-->