<div id="register">
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), remote: true) do |f| %>
		<ul id='sign-up-errors'>
			<% resource.errors.full_messages.each do |e| %>
				<li><%= e %></li>
			<% end %>
		</ul>

		<div class='container'>
			<div class='short-field column-6'>
				<%= f.label :name %>
				<%= f.text_field :name %>
			</div>

			<div class='short-field column-6'>
				<%= f.label :title %>
				<%= f.text_field :title %>
			</div>
		</div>

		<div class='container'>
			<div class='short-field column-6'>
				<%= f.label :email %>
				<%= f.text_field :email %>
			</div>

			<div class='short-field column-6'>
				<%= f.label :phone %>
				<%= f.text_field :phone %>
			</div>
		</div>

		<div class='container'>
			<div class='short-field column-6'>
				<%= f.label :password %>
				<%= f.password_field :password, autocomplete: "off" %>
			</div>

			<div class='short-field column-6'>
				<%= f.label :password_confirmation %>
				<%= f.password_field :password_confirmation, autocomplete: "off" %>
			</div>
		</div>

		<%= fields_for :institution do |i| %>
			<div id='institution-name-field' class="long-field">
				<%= i.label 'Institution Name' %>
				<%= i.text_field :name, autocomplete: "off"%>
			</div>
		<% end %>

		<%= f.submit "SIGN UP", id: 'sign-up-button' %>
	<% end %>
</div>
