<!DOCTYPE html>
<html>
<head>
	<title>AcademicDashboards</title>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<%= csrf_meta_tags %>
</head>
<body>

	<header id="static-header">
		<div class="container">
			<div id="logo">Academic Dashboards</div>
			
			<nav id="static-nav">
				<%= link_to 'About' %>
				<%= link_to 'Services' %>
				<% if user_signed_in? %>
					<%= link_to 'Sign Out', 'users/sign_out', method: :delete %>
				<% else %>
					<!--<%= link_to 'Sign Up', 'users/sign_up' %>-->
					<span id='sign-in-link'>Sign In</span>			
					<%= render 'layouts/sign_in' %>			
				<% end %>
			</nav>
		</div>
	</header>

	<%= yield %>

	<footer>
	</footer>

</body>
</html>
