<!DOCTYPE html>
<html>
<head>
	<title>AcademicDashboards</title>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<%= csrf_meta_tags %>
</head>
<body>

	<header id="static-header">
		<div class="container">
			<div id="logo"><%= link_to 'Academic Dashboards', '/' %></div>
			
			<nav id="static-nav">
				<%= render 'layouts/nav' %>
				<a id="nav-trigger"><i class="fa fa-bars"></i></a>
			</nav>
		</div>
	</header>

	<nav id="slideout">
		<%= render 'layouts/nav' %>
	</nav>
	<div id="nav-screen"></div>

	<%= yield %>

	<footer>
		<h3>Academic Dashboards</h3>
		<span>Privacy Policy Legal Disclaimer Terms of Use <br /> © 2014 Academic Dashboards. All Rights Reserved</span>
	</footer>

</body>
</html>
